.ViewSwitchList-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.ViewSwitchList-group {
    margin-right: 16px;
    display: flex;
}

.ViewSwitchList-big-item {
    padding-right: 8px;
}

.ViewSwitchList-small-group {
    background-color: white;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ebedf0;
    border-right: 1px solid #ebedf0;
    border-left: 1px solid #ebedf0;
    padding: 8px 8px 8px 8px;
    min-height: 42px;
}

.ViewSwitch-name {
    padding-right: 4px;
}

.ViewSwitchList-small-item {
    margin-right: 10px;
}

.ViewSwitchList-small-item .anticon {
    padding: 2px 8px 0 0px;
}
