# Dependency directory
node_modules

# Build directories
src/public/dist/local/bundle
src/public/dist/standalone/bundle

# example for dev
# example-project

# Remove some common IDE working directories
.idea
.DS_STORE

yarn.lock