.EdgeMouseHandler {
  cursor: pointer;
  fill: none;
  stroke-width: 8px;
  stroke: rgba(0,0,0,0);
}

.SourceEdge {
  fill: none;
  stroke: #BFBFBF;
  stroke-width: 1px;
}

.SourceEdge-disabled {
  stroke: #ccc;
}

.SourceEdge-selected {
  stroke: #555555;
}

.DependenciesEdge {
  fill: none;
  stroke: #1890ff;
}

.DependenciesEdge-selected {
  stroke: #ff5f4a;
}

.DependenciesEdge-end-dot {
  fill: #1890ff;
}

.CodeCrumbEdge {
  fill: none;
  stroke: #ff18a6;
}