.CcDetailsContainer {
  position: absolute;
  border: 1px solid #e8e8e8;
  border-top: 1px solid #ff18a6;
  min-width: 150px;
  max-height: 70px;
  overflow-y: auto;
  background: rgba(255,255,255,0.9);
  font-size: 12px;
  padding: 6px 7px;
  hyphens: auto;
}

.CcDetailsSelected {
  border-top: 1px solid #754BC3;
}