.TreeDiagram {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-grow: 1;
}

.MainLoader {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 200px;
  width: 100%;
}