.TreeDiagram {
  display: block;
}

.treeDiagramBorder {
  border: 1px dashed #d9d9d9;
}

.activeTreeDiagram {
  border: 1px dashed #e91e63;
}

.MainLoader {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 200px;
  width: 100%;
}