.App {
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .loader {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding: 200px;
    width: 100%;
  }

  > .header {
    position: relative;
    border-bottom: 1px solid #F5F5F5;
  }

  .headerPlaceholder {
    height: 60px;
    background-color: #fdfdfd;
  }

  .body {
    position: relative;
    display: flex;
    flex-grow: 1;
    background-color: white;
  }

  .footer {
    position: relative;
    border-top: 1px solid #F5F5F5;
    background-color: #ffffff;
    padding-top: 5px;
    width: 100%;
    font-size: 10px;
    text-align: right;
  }
}
