.SideBar-container {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 500px;
    z-index: 4;
    background-color: white;
    border-left: 1px solid #ebedf0;
    padding: 8px 16px;
}

.SideBar-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
