.top-buffer {
    margin-top: 20px;
}

.navbar-icon {
    width: 5em;
    height: 5em;
}

.about-page .jumbotron {
    margin: 0;
    background: rgba(9, 69, 95, 0.8);
    color: white;
    border-radius: 0 !important;
}

/*React apply activeClassName to <a> element, but Bootstrap active class is over <li> element*/

.navbar .nav .active,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background: white !important;
    color: #333 !important;
}

.avatar {
    max-width: 80px
}

#navbar {
    padding-left: 0px !important;
}

#header-title {
    background-color: rgb(238, 235, 235);
}
