.SideBar {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 650px;
  z-index: 4;
  background-color: white;
  border-left: 1px solid #ebedf0;
  padding: 8px 16px;

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .filePath {
      display: flex;

      .copyIcon {
        margin-left: 5px;
      }
    }
  }

  .body {
    height: calc(100% - 25px);
    overflow: auto;
  }
}
