.CcDetailsContainer {
  position: absolute;
  border: 1px solid #e8e8e8;
  min-width: 250px;
  background: rgba(255,255,255,0.9);
  font-size: 12px;
  padding: 6px 7px;
  hyphens: auto;
}

.CcDetailsSelected {
  border-top: 1px solid #754BC3;
}

.CcCodeContainer {
  position: absolute;
  border: 1px solid #e8e8e8;
  width: 650px;
  background: rgba(255,255,255,0.9);
  height: 80px;
}
