.Code {
  height: 100%;
  position: relative;

  pre {
      width: 100%;
      height: calc(100% - 10px);
      overflow: auto;
  }

  .crumbedLine {
    display: block;
    background-color: rgba(255, 225, 244, 0.8);
  }

  .importedDependencyLine {
    display: block;
    background-color: rgba(0, 148, 249, 0.1);
  }

  &.limitedHeight {
    height: 200px;
  }
}

